*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #e3faff;
    background-image: linear-gradient(62deg, #e3faff 0%, #f1e7f7 50%, #e4d7d7 100%);

}
a{
    text-decoration: none;
}
.container{
    width:80vw;
    padding: 2rem 1rem;
    margin: 0 auto; 
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */


}
.heading{
    margin-bottom: 2rem;
    text-align: center;
}
.heading>h1{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
}
.heading>p{
    max-width: 668px;
    color: rgb(77, 72, 72);
    margin: 0 auto;
}
.cards_container{
    display: grid;
    gap: 1.5rem;
    /* grid-template-columns: repeat(auto-fit,minmax(100px,330px)); */
    grid-template-columns: repeat(1,1fr);
}
@media(min-width:650px){
    .cards_container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(min-width:1080px){
    .cards_container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(min-width:1340px){
    .cards_container{
        grid-template-columns: repeat(4,1fr);
    }
}
.cards{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(59, 57, 57, 0.753);
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}
.imgbox{
    position: relative;
    overflow: hidden;
    height: 10rem;
}
.cardimg{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.cards:hover .cardimg{
         transform: scale(1.1);
         transition-duration: 200ms;
}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem;
}
.title{
    color: rgb(15, 14, 14);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}
.card_title:hover .title{
    color: blue;
}
.card_desc{
    color: rgb(71, 68, 68);
    font-size: .8rem;
    font-weight: 300;
}
.card_footer_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.avtar_img{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(88, 86, 86);
    border-radius: 50%;
    background-color: rgb(167, 150, 150);
}
.avtar_info{
    display: flex;
    flex-direction: column;
}
.avtar_name{
    font-size: 1rem;
    color: rgb(58, 58, 165);
}
.date{
    font-size:0.7rem ;
}
.tag-container{
    font-size: 1rem;
    border: 1px solid rgb(71, 66, 66);
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
}