*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#intro{
    height:40%;
    width: 100%;
    padding: 50px;
}
#intro h1
{
    font-size: 80px;
    letter-spacing: -2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 70px;
}
#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}
#hero{
    height:60%;
    width: 100%;
}
#hero img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding: 30px 40px;
}
#nav h3{
    
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 15px 25px;
    margin-left: 5px;
}
#about{
    height: 55%;
    width: 100%;
    display: flex;
    padding: 15px;
}
#about-part1{
    width: 65%;
    border-right: 2px solid black;
    font-size: 55px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 60px;
    padding: 30px;
}
#about-part2
{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px  35px;
}
#about-part2 h4{
    font-size: 25px;
}
#icons i{
    font-size: 15px;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 10px;
}
#work{
    border-top: 2px solid black;
    display: flex;
    width:100%;
    height:65;
    justify-content: space-between;
    padding: 25px 35px;
}
#work-part1{
    border-right: 2px solid black;
    width:40%;
    display: flex;
    justify-content: space-between;
}
#work-part1 h4{
        font-size: 25px;
}
#work-part1 i {
    font-size: 25px;
    padding-right: 25px;
}
#work-part2{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}
.work-section1{
    border-bottom: 2px solid black;
    display: flex;
    padding-bottom: 15px;
    
}
.work-section2 {
    /* border-bottom: 2px solid black; */
    display: flex;
    padding-top: 15px;
}
.elam1{
      border-right: 2px solid black;
      padding-right: 3px;
}
.elam{
    padding-left: 15px;
}
